@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
}

body {
  font-family: var(--font-sans);
}

.sidebar-open {
  transform: translateX(0%);
}

.sidebar-closed {
  transform: translateX(-100%);
}

@media (min-width: 1024px) {
  .sidebar-closed {
    transform: translateX(0%);
  }
}
